@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-pattern-bottom-desktop.svg),
    url(./images/bg-pattern-top-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 70%, 50%;
}

main {
  display: flex;
  flex-direction: column;
}

.upperpage {
  display: flex;
  flex-direction: row;
}
.star {
  margin: 0 0.3rem;
}

.ratings {
  margin-left: 2rem;
  width: 100%;
}

.rating {
  display: flex;
  font-weight: 700;
  color: #511f50;
  align-self: flex-start;
  border-radius: 0.5rem;
  background-color: hsl(300, 24%, 96%);
  margin: 1rem 0;
  padding: 1rem 3rem 1rem 1.5rem;
  max-width: 30rem;
  font-size: 0.9rem;
}

.rating2 {
  margin-left: 3rem;
}
.rating3 {
  margin-left: 6rem;
}

.ratingText {
  margin-left: 2rem;
}

.cards {
  margin-top: 2rem;
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
}

.profileImage {
  margin-left: -1rem;
  border-radius: 50%;
  transform: scale(0.5);
}

.id {
  margin-left: 0.3rem;
}

.card {
  font-weight: 500;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 1.4rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
  background-color: #511f50;
  margin: 1rem;
  color: white;
  max-width: 335px;
  font-size: 12px;
}

.card2 {
  margin-top: 2rem;
}

.card3 {
  margin-top: 3rem;
}

.mainText {
  margin: 1rem;
  align-self: flex-start;
  max-width: 30rem;
}

.mainContent {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 1rem 1rem 1rem 0;
  color: hsl(303, 10%, 53%);
  line-height: 1.4rem;
}

.mainPhrase {
  line-height: 2.9rem;
  font-weight: 700;
  font-style: bolder;
  font-size: 3rem;
  color: #511f50;
}

.name {
  color: hsl(300, 24%, 96%);
  font-weight: 700;
  margin-bottom: -0.2rem;
}
.role {
  color: hsl(333, 42%, 53%);
}

@media screen and (max-width: 1150px) {
  body {
    margin: 5rem 0;
    background: url(./images/bg-pattern-bottom-mobile.svg),
      url(./images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 100, 100%;
  }

  .upperpage {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    align-self: center;
    margin-top: 1rem;
  }

  .rating {
    margin-top: 1rem;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .ratings {
    max-width: 95vw;
    margin: 0;
  }

  .mainPhrase {
    font-size: 2.5rem;
  }
}
